- page_title!('Editando programa')

#region-programas.container

  .region
    .region-title
      %h1
        Editando
        %b
          programa

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
