  <form action='https://www.2checkout.com/checkout/purchase' method='post'>
  <input type='hidden' name='sid' value='202215395'>
  <input type='hidden' name='quantity' value='1'>
  <input type='hidden' name='product_id' value='3'>
  <input name='submit' type='submit' value='FCI + Open' class="btn btn-warning">
  </form>
