<form action='https://www.2checkout.com/checkout/purchase' method='post'>
  <input type='hidden' name='sid' value='202215395'>
  <input type='hidden' name='quantity' value='1'>
  <input type='hidden' name='product_id' value='2'>
  <input name='submit' type='submit' value='Comprar Grado 1' class="btn btn-warning" >
</form>
<span>2Checkout.com Inc. (Ohio, USA) is a payment facilitator for goods and services provided by KENNEL CLUB PERUANO.</span>
