<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
    <Worksheet ss:Name="Sheet1">
      <Table>
        <Row>
          <Cell><Data ss:Type="String">ID</Data></Cell>
          <Cell><Data ss:Type="String">Name</Data></Cell>
          <Cell><Data ss:Type="String">Pais</Data></Cell>
          <Cell><Data ss:Type="String">Raza</Data></Cell>
        </Row>
        <% @duplas.each do |dupla| %>
        <Row>
          <Cell><Data ss:Type="Number"><%= dupla.id %></Data></Cell>
          <Cell><Data ss:Type="String"><%= dupla.name %></Data></Cell>
          <Cell><Data ss:Type="String" ><%= dupla.pais %></Data></Cell>
          <Cell><Data ss:Type="String"><%= dupla.raza %></Data></Cell>
        </Row>
        <% end %>
      </Table>
    </Worksheet>
</Workbook>


