#region-duplas.container.seccion

  .region
    .region-title
      %h1= page_title!('duplas')

    .region
      - if current_usuario
        .admin-control
          = link_to 'Inscribir una Nueva Dupla', new_dupla_path, class: 'btn btn-primary'
  .region
    .region-inner.sidebar.region-title
      - unless params[:usuario_id]
        %h2.title Tags
        - @tags.each do |tag|
          %button.btn.btn-warning= link_to tag.name, tag_path(tag.name)
          

  .region
    #duplas
      .region
        = render @duplas
