- page_title!('Editando visa')

#region-visas.container

  .region
    .region-title
      %h1
        Editando
        %b
          visa

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
