.container
  = render 'bootstrap3_carousel'

#region-Inicio.container
  .region
    .region-texto
      %h1 
        PER&Uacute; LES DA A 
        %span
          BIENVENIDA,
      %p  
        El Kennel Club Peruano tiene el honor de organizar el XIV Campeonato de Agility de las Americas y el Caribe de la FCI, a llevarse a cabo del 3 al 6 de Abril del 2014.
        %br
        %br
        El lugar será el complejo Deportivo de la Costa Verde en el Circuito de Playas de Magdalena del Mar, Lima. Perú.
    .region-horas
      %h1
        FALTA:
      .horas
        horas
  
  .region
    .region-inscripcion
    .region-lista-contactos

  .region
    .region-info
    .region-info
    .region-info

  .region
    .region-auspiciadores
      %h1
        CONOCE A NUESTROS AUSPICIADORES
    .region-slider

  .region
    .footer

