.region-slider
  = render 'bootstrap3_carousel'

#region-Inicio.container
  .region
    .region-title
      %h1= page_title!('index')


  .region
    .region-texto
      %h1 Aquí va el contenido...
    .region-horas
      %h1
        FALTA:
      .horas
        horas
  
  .region
    .region-inscripcion
    .region-lista-contactos

  .region
    .region-info
    .region-info
    .region-info

  .region
    .region-auspiciadores
      %h1
        CONOCE A NUESTROS AUSPICIADORES
    .region-slider

  .region
    .footer

