- page_title!('Editando juez')

#region-jueces.container

  .region
    .region-title
      %h1
        Editando
        %b
          juez

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @juez, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
