- page_title!('Creando mensaje')

#region-mensajes.container.seccion

  .region
    .region-title
      %h1
        Escr&iacute;benos

  .region
    = render 'form'

  -#.region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
