/*HEADER*/
.header{
  .judge{
    float:right;
    margin-top: 30px;
  }
  .logo{
    float:left;
  }
}
.navigation{
text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
.drop-content:hover{
background-color: #f8ac00;
}
ul li a:hover, ul li a:focus{
  background-color: $orange-region;
  color:white;
  text-shadow:none;
}
.open > a{
  background-color: $orange-region !important;
  color: white;
}

.dropdown-menu{
  background-color: none;
  background: url('/assets/text.png') no-repeat center;
  background-size: cover;
  border: none;
text-shadow:none;
  a{
  color:white !important;
  }
}
}



main{
  .carousel-indicators{
  left: none;
  marin-left:0px;
  bottom: -42px !important;
  }
  ul li{}
}

#region-Inicio{
  margin-top: 40px;

  .region-horas{ 
    h2{
    text-align:right;
    font-weight: bold;
    }
    .numero{
    font-size: 72px;
    font-weight: bold;
    }
    .texto{
    font-size: 30px;
    }
  }

}

.line{padding-bottom: 50px; border-bottom: 2px solid $gray-title;}


/*INSCRIPCION*/

.inscrip-info{
  margin-top:150px;
}

.region-inscripcion p{
display: inline-block;
text-align: right;
width: 145px;
}


/*INFORMACION*/

.region-info{
  margin-top: 20px;
  margin-bottom: 60px;
  .info{
background-color:white;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 20px;
  min-height: 180px;
  }
}


/*AUSPICIADORo*/

#region-auspicio{
  background-color: white;
  width: 100%;
  min-height: 340px;
}

.container-auspicio{
  margin: 0px auto;
  width: 1170px;
  padding: 15px 0 60px;
}

/*SLIDER-AUSPICIO*/

.region-slider{
  .slide{
    display: inline-block;
  }
  .carousel-control.left{
    background:none;
  }
  .carousel-control.right{
    background:none;
  }
  .carousel-indicators li{
   border: 2px solid #999999;
   height: 12px;
   width: 12px;
   margin: 0px 7px 0px 0px;
  }
  .carousel-indicators .active{
   background-color: #999999;
  }
  .carousel.slide{
  width:100%;
  }
  .carousel-control{
    width: 0px;
  }
}
#carousel-generic{
  .carousel-indicators li{
   border: 2px solid #999999;
   height: 12px;
   width: 12px;
   margin: 0px 7px 0px 0px;
  }
  .carousel-indicators .active{
   background-color: #999999;
  }
}

.container-slider{width:100%;}
.carousel-caption p{
color:white !important;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
            min-width: 100%;
          }

/*FOOTER*/

.footer{
  background-color: $footer;
  padding-bottom: 1px;
  p{
    display: inline-block;
    margin-top:10px;
    margin-left: 120px;
  }
}
footer{
  color:white;
  .info{
  margin-top:10px;
  margin-bottom:10px;
  }
  .social{
  border-bottom: 2px solid #d14e0e;
  margin-top: 10px;
  min-height: 30px;
  }
  
 .region-facebook > p {
     display: inline-block;
       width: 170px;
     }
  .region-facebook > img {
    display:inline-block;
  }
  .region-facebook.region-facebook-2{
  margin-bottom: 10px;
  }
  .region-facebook.region-facebook-2 > h2 {
      color: #FFFFFF;
        margin: 0;
      }
}
