/*HEADER*/
.header{
  .judge{
    float:right;
    margin-top: 30px;
  }
  .logo{
    float:left;
  }
}

main{
  .carousel-indicators{
  left: none;
  marin-left:0px;
  bottom: -42px !important;
  }
  ul li{

  }

}

#region-Inicio{
span{
  font-weight: bold;
}
}

