/*HEADER*/
.header{
  .judge{
    float:right;
    margin-top: 15px;
  }
  
.frontline, .hills{float:left; margin-left: 20px; margin-top: 24px;}
  .logo{
    float:left;
  }
}
.navigation{
text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
.nav.navbar-nav a {
    text-align: center;
  }
.navbar-toggle .icon-bar{background-color:#F0ECE1; margin: 5px auto;}
.drop-content:hover{
background-color: #f8ac00;
}
ul li a:hover, ul li a:focus{
  background-color: $orange-region;
  color:white;
  text-shadow:none;
}
.open > a{
  background-color: $orange-region !important;
  color: white;
}

.dropdown-menu{
  border: none;
  text-shadow:none;
  box-shadow:none;
  background-color:inherit;
  padding: 5px 0px;
  margin-top: -6px !important;
  a{
  color:white !important;
  }
  .arrow{
  background: url(image_path('arrow.png')) no-repeat center top;
  margin: 0px 0px -2px 0px;
  min-height: 8px;
  padding: 0px;
  }
  .dropdown-list{
  background-color: orange;
  border-radius: 8px;
  }
  ul {
    text-align:center;
    padding: 10px 0px;
    li{
    list-style:none;
        padding-bottom: 5px;
    }
    a{
    padding-bottom: 5px;
    }
  }
  ul li a:hover{
  background-color:orange;
  text-decoration:none;
  }
}
}

.alert-info{
  margin-top: 20px;
}

main{
  .carousel-indicators{
  left: none;
  marin-left:0px;
  bottom: -42px !important;
  }
  .sub-title{a{color:white; font-size:13px;}}
  .fecha{
    border: medium none;
    bottom: 0;
    color: #FFFFFF;
    padding: 0;
    position: absolute;
    width: 100%;
    margin: 0;
  }
}

#region-Inicio{
  margin-top: 40px;
  span{color:$orange;}
  .region-horas{
    h2{
    text-align:right;
    font-weight: bold;
    }
    .countdown-amount{
    font-size: 72px;
    font-weight: bold;
    }
    .countdown-period{
    font-size: 30px;
    }
  }

}

.line{padding-bottom: 50px; border-bottom: 2px solid $gray-title;}


/*INSCRIPCION*/

.inscrip-info{
  margin-top:150px;
  min-height: 150px;
}

.region-inscripcion p{
margin-top: 50px;
 width: 145px;
 width:90%;
}

.img-info{
float:right;
}

/*INFORMACION*/

.region-info{
  margin-top: 20px;
  margin-bottom: 60px;
  .info{
background-color:white;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 20px;
height: 250px;
  .info-descrip{
  margin-top: 30px;
  }
  }
  span{
  float: left;
  margin-top: 12px;
}
  .icon{
  float:right;
  }
}

.clear{clear:both;}
/*AUSPICIADORo*/

#region-auspicio{
  background-color: white;
  width: 100%;
  min-height: 340px;
}

.container-auspicio{
  margin: 0px auto;
  width: 100%;
  padding: 15px 0 60px;
}

/*SLIDER-AUSPICIO*/

.region-slider{
  .slide{
    display: inline-block;
  }
  .carousel-control.left{
    background:none;
  }
  .carousel-control.right{
    background:none;
  }
  .carousel-indicators li{
   border: 2px solid #999999;
   height: 12px;
   width: 12px;
   margin: 0px 7px 0px 0px;
  }
  .carousel-indicators .active{
   background-color: #999999;
  }
  .carousel.slide{
  margin-left: 5%;
  width: 90%;
  }
  .carousel-control{
    width: 0px;
  }
}
#carousel-generic{
  .carousel-indicators li{
   border: 2px solid #999999;
   height: 12px;
   width: 12px;
   margin: 0px 7px 0px 0px;
  }
  .carousel-indicators .active{
   background-color: #999999;
  }
}

.container-slider{width:100%;}
.carousel-caption p{
color:white !important;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
            min-width: 100%;
          }

/*FOOTER*/
          .region-facebook {
              margin-bottom: 20px;
                margin-top: 20px;
              }
.region-facebook.region-facebook-2 > p {
            width: 100%;
          }
.footer
  {
  background-color: $footer;
  padding-bottom: 1px;
  p{
    display: inline-block;
    margin-top:10px;
    padding-left:0px;
    padding-right: 0px;
  }

}
footer{
  .fb{
  color:white;
  }
  .footer-1{
      margin-left:0px;
      text-align: center;
      width: 28% !important;
  }
  .footer-2{
      margin-left:8px;
      text-align: center;
      width: 15% !important;
  }
  .footer-3{
      margin-left:17px;
      text-align: center;
      width: 17% !important;
  }
  .footer-4{
      margin-left:15px;
      text-align: center;
      width: 26% !important;
  }
  color:white;
  .info{
  margin-top:10px;
  margin-bottom:10px;
  }
  .social{
  border-bottom: 2px solid #d14e0e;
  margin-top: 10px;
  min-height: 30px;
  }

 .region-facebook > p {
     display: inline-block;
       width: 170px;
     }
  .region-facebook > img {
    display:inline-block;
  }
  .region-facebook.region-facebook-2{
  margin-bottom: 10px;
  }
  .region-facebook.region-facebook-2 > h2 {
      color: #FFFFFF;
        margin: 0;
      }
}
#dupla_fotografia {
    display: inline;
  }
#span_size{margin-left: 20px;
      text-transform: capitalize;}
/*ORGANIZADORES, PROGRAMAS y AUSPICIADORES*/

.seccion{
  .region{
    .admin-control{
    margin-bottom: 20px;
    }
  }
  margin-bottom: 20px;
  h1{
  text-transform: uppercase;
  color: #58575f;
  font-weight: 700;
  border:none;
  background-color: #e6dfd5;
  padding: 40px 30px;
  }
  .titulos{
  text-transform: uppercase;
  color: #58575f;
  border-bottom: 2px solid #808080;
  padding-bottom: 15px;
  font-weight: 400;
  font-style:  normal;
  }
  ul li{
  margin-bottom:10px;
  color: #58575f;
  }
  .descripcion{color:$gray-text;margin-left:40px;}
}

.icon{
width: inherit !important;
}
.inner-facebook{
    text-align: center;
        width: 130px;
}
.fb{
 background: url(image_path("globo-text.png")) no-repeat scroll center center rgba(0, 0, 0, 0);
height: 45px;
padding-top: 15px;
text-align: center;
width: 130px;
}

.info{
.region-texto{
padding:0px;
}
}


#region-auspiciadores{
.titulos{
display:inline;
border: none;
}
.auspicios-container{
background-color: white;
padding: 10px 10px;
margin: 20px 0px;
}
.region-titulo{
padding-top: 50px;
}
.auspicios-descripcion{
color:#868a7e;
border-top: 1px solid #868a7e;
margin-top: 20px;
padding-top: 20px;
font-weight: 700;
}
}

.noticias-container{
background-color: white;
padding:20px 0px;
text-align: center;
margin: 10px 0px;
.noticias-fecha{display:inline-block; width:20%; font-weight: 700; color:#58575f; padding-top: 25px; text-align: right;}
.noticias-titulo{display:inline-block; width:40%; text-align: left;padding: 0px;}
.titulos{border:none; text-transform: uppercase;}
}

/*NOTICIAS*/
#region-noticias{
  h2,h3,a{
    color: $gray;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
  }
  .btn, .btn:hover{color: white;}
    a:hover{color:$gray-text;}
  .compartir-fb{a:hover{text-decoration: none;}}
  .region-inner{border-bottom: 1px solid $gray;}
  .arrow_right{
    background-image: url(image_path("arrows.png"));
      background-position: right center;
        margin-right: 20px;
          padding: 41px 61px 0 0;}
  .arrow_left{
    background-image: url(image_path("arrows.png"));
      background-position: left center;
        margin-right: 20px;
          padding: 41px 61px 0 0;}

    .region-titulo{
      .top-nav{
        li{
        display: inline-block;
        }
      }
    .social-share{
    text-align: right;
      .compartir-fb{
        display:inline;
      b{
      background-color: $yellow;
      text-align: right;
      padding: 7px 7px 7px 50px;
      color:white;
      border-radius: 5px;
        img{
        margin-left:10px;
        width: 20px;
        }
      }
      }
    }
    .image-noticia{
      img{width: 100%;}
    margin-bottom: 50px;
    }
  }
    .region-contenido{
      padding-top: 20px;
    p{
    font-weight: 700;
    }
    }
}


#region-duplas{
  .btn-warning{
    margin-bottom: 20px;
    margin-right: 10px;
    a{color:white;}
  }
   #duplas{
     .titulo-dato{
     margin-bottom: 0;
     }
    .region{
      padding:0px;
      .region-datos{
      margin-bottom:20px;
        padding: 15px 0px;
      border-top: 1px solid black;
      .region-imagen{
        padding-left: 0px;
      }
      .region-info-title{
        padding:0px;
        .region-pais{
        margin-bottom:15px;
        background-color:white;
        p{
          display:inline-block;
          padding: 10px;
          margin: 2px 0px 0px 0px;
          color: $orange;
          font-size: 17px;

        }
        .pais{
        float: left;
       font-weight: 700;
      }
        .compartir{
        float:right;
          a{color: #e0ddd6;}
        }
      }
      }
    }
    }
   }
  text-transform: uppercase;
  .titulo-dato{font-size: 14px;}
  .datos{color: black; font-weight: 700; font-size: 18px;}
  .region-imagen img{width: 100%;}
}

#region-admin, #region-mensajes{
margin-top: 50px;
  margin-bottom: 50px;
}

#region-admin .btn-default{
margin-top: 20px;
}

#region-mensajes{
textarea.form-control{line-height: 4 !important;}
}
#region-hoteles{
.descripcion{
margin-bottom: 20px;
}
}
#region-jueces{
.region-contenido{
margin-top: 20px;
color: $gray-text;
}
.datos{
margin-bottom: 60px;
}
}


