$orange: #e95805;
$cream: #f0ece1;
$red: #e73300;
$orange-region: #fa5c12;
$gray: #6b7165;
$brown: #702f05;
$gray-title: #868a7e;
$orange-info: #fc7219;
$gray-slider: #999999;
$footer: #e73300;


$primary-font: 'Merriweather Sans';
$secondary-font: 'Montserrat';

$text: '18px';
$title: '34px';
