.region-footer-info
  .container
    .social
      .region-footer-contacto
        = image_tag image_path('mail.png')
        %a info@agilityperu2014.com
      .region-footer-contacto.region-offset
        = image_tag image_path('camara.png')
        %a Melissa Thereliz

    .info
      .region-facebook
        %p
          Puedes encontrarnos en :
        %div
          = image_tag image_path('facebook.png')
          %span.fb
            agilityperu2014
      .region-facebook.region-facebook-2
        %h2
          %b
            Te gust&oacute;?
        %p
          Dale me gusta y comparte:
        .facebook


.footer
  .container
    %p.footer-1
      Agility Perú Todos los derechos reservados 2014
    %p.footer-2 Kennel Club Peruano
    %p.footer-3
      Mariscal Miller N°2649, Lince
    %p.footer-4
      441-1367 / 441-1247 / 441-1207
