.header
  .container
    = link_to image_tag('logoagility.jpg', alt: 'Agility Per&uacute;' , class:'img-responsive logo')
    = link_to image_tag('jueces_agility.jpg', alt: 'Agility Judges' , class: 'img-responsive judge')
