.header
  .container
    = link_to image_tag((image_path ('logo-concurso.png')), alt: 'Agility Per&uacute' , class:'img-responsive logo'), root_path
    = link_to image_tag((image_path ('logo-frontline.png')), alt: 'Frontline', class: 'img-responsive frontline')
    = link_to image_tag((image_path ('logo-hills.png')), alt: 'Hills', class: 'img-responsive hills')
    = link_to image_tag((image_path ('jueces_agility.jpg')), alt: 'Agility Judges' , class: 'img-responsive judge')
